modules = ["nodejs-24", "python-3.11", "system", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["google-mail:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 22333
externalPort = 3000

[[ports]]
localPort = 23744
externalPort = 3002

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
IMPORT_API_KEY = "dstc_e92c7bb35ef3e5f64c700e8e17013d23bb92fb17b5c70f7a56e749c7c02f211f"
